{% extends "base.html" %}
{% block content %}
<div class="">
  <form class="form-inline my-2 my-lg-0" action="" method="get" novalidate>
      {{form.q(placeholder="Search...", class_="form-control mr-sm-2")}}
      {{form.submit(class_="btn btn-outline-success my-2 my-sm-0 mobile-wide-button")}}
      {% for error in form.q.errors %}
      {{error}}
      {% endfor %}
  </form>
</div>

{% for feed in feeds %}
<div class="card" style="margin: 10px">
  <div class="card-body">
    <h2><a href="{{ url_for('feed', feed_id=feed.id) }}">{{feed.title}}</a></h2>
    <p>
      {% if current_user.is_following(feed) %}
      <a href="{{ url_for('unfollow', rss_feed=feed.id) }}">Unfollow</a>
      {% else %}
      <a href="{{ url_for('follow', rss_feed=feed.id) }}">Follow</a>
      {% endif %}
    </p>
  </div>
</div>
{% endfor %}

{% endblock content %}
