{% extends "base.html" %}
{% block css %}
  <link rel="stylesheet" href={{url_for('static', filename='css/index.css')}}>
{% endblock css %}
{% block content %}
<div class="horizontal-feeds">
  {% for feed in current_user.feeds.all() %}
    <div class="card card-horizontal-scroll card-feed">
      <img class="favicon" src="{{ feed.get_favicon() }}" alt="">
        <a href="{{ url_for('feed', feed_id=feed.id) }}">{% if feed.title|length > 22 %}
        {{feed.title[:22]}}...
        {% else %}
        {{feed.title}}
        {% endif %}
      </a>
    </div>
  {% endfor %}
</div>
<div class="row">
  <div class="col-3 d-none d-lg-block" id="sidebar">
      <h2>Your feeds</h2>
      <hr>
      <!-- <ul> -->
        {% for feed in current_user.feeds.all() %}
        <div class="card card-feed" style="width:100%">
            <img class="favicon" src="{{ feed.get_favicon() }}" alt="">
            <a href="{{ url_for('feed', feed_id=feed.id) }}">
              <small>
                {% if feed.title|length > 22 %}
                {{feed.title[:22]}}...
                {% else %}
                {{feed.title}}
                {% endif %}
            </small>
          </a>
        </div>
        {% endfor %}
  </div>
  <div class="col-12 col-lg-9">

    <div class="">
      {% if prev_url %}
      <a class="url" href="{{ prev_url }}">Previous posts</a>
      {% else %}
      <a class="url" href="{{ prev_url }}" style="visibility:hidden">Previous posts</a>
      {% endif %}
      {% if next_url %}
      <a class="url next-url" href="{{ next_url }}">Next posts</a>
      {% endif %}
    </div>

    {% for feed in feeds %}
    <div class="card" style="margin: 10px">
      <div class="card-body">
        <h2><a href="{{feed.href}}">{{feed.title}}</a></h2>
        <small>{{feed.date}}</small>
        <small><a href="{{ url_for('feed', feed_id=feed.feed_file.id) }}">{{feed.feed_file.title}}</a></small>
        <p>{{feed.content|safe}}</p>
        {% if feed.content|length > 500 %}
          <p><a href="{{feed.href}}"> continue</a></p>
        {% endif %}
      </div>
    </div>
    {% endfor %}

    {% if prev_url %}
    <a class="url" href="{{ prev_url }}">Previous posts</a>
    {% endif %}
    {% if next_url %}
    <a class="url next-url" href="{{ next_url }}">Next posts</a>
    {% endif %}
  </div>
</div>

{% endblock content %}
