@media screen and (min-width: 992px){
  .horizontal-feeds{
    display: none !important;
  }
}

.horizontal-feeds{
  overflow: auto;
  white-space: nowrap;
}

.card-horizontal-scroll{
  display: inline-block;
}

.url{
  font-size: 1.3em;
}

.next-url{
  float:right;
  display: inline-block;
}
