{% extends "base.html" %}
{% block content %}

<form class="" action="" method="post" novalidate>
  {{form.hidden_tag()}}
<div class="card" style="margin: 10px">
    <div class="card-body form-inline">
      {{form.title.label}} {{form.title(class="form-control my-2 my-sm-0")}}
    </div>
    <div class="card-body form-inline">
      {{form.link.label}} {{form.link(class="form-control my-2 my-sm-0")}}
    </div>
    <div class="card-body form-inline">
      {{form.eliminate.label}} {{form.eliminate(class="form-control my-2 my-sm-0")}}
    </div>
</div>
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="margin:30px">Save</button>
  <hr>
</form>

{% for feed in feeds %}
<div class="card">
  <div class="card-body">
    <a href="{{url_for("admin_entry_detail", rss_entry=feed.id) }}"><h3>{{feed.title}}</h3></a>
  </div>
</div>
{% endfor %}

{% endblock content %}
